[submodule "data/build/packages_src"]
	path = data/build/packages_src
	url = git@github.com:tunapanda/packages
[submodule "ansible/roles/network_interface"]
	path = ansible/roles/network_interface
	url = https://github.com/bennojoy/network_interface.git
	branch = master
